.wrapper-episodes{
    @include center-content;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0px;
}
.episode-card {
    @include card;
    width: 500px;
    height: 460px;
    height: auto;
    padding-bottom: 15px;
}

.episode-img {
	width: 100%;

    img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.podcast-app-header-content {
	display: flex;
	align-items: center;
}

.episode-header{
	h3{
		color: black;
		font-size: 19px;
        padding: 20px;
		margin: 0px;
        line-height: 1.4;
        font-weight: 400;
	}
}

.center-button{
    @include center-content;
    margin: auto;
    width: 100%;
}



@media screen and (min-width:320px) and (max-width:425px) {
    .wrapper-episodes{
        width: 100%;
        padding: 10px;
    }

    .episode-card{
        width: 100%;

        &:hover{
            transform:none;
        }

        h3{
            font-size: 17px;
        }
    }

    .center-button{
        a{
            font-size: 14px;
        }
    }
}