@import '../mixins_colors.scss';

.hero_container {
    width: 100%;
    height: 550px;
    background-color: $black;
    background-image: url("../../Images/flag.png");
    background-size: cover;
    @include flex(center, center);

    div {
        width: 30%;
    }
}

.hero_text {
    color: white;

    h2 {
        font-weight: 700;
        font-size: 50px;
        letter-spacing: 2px;
    }

    p {
        font-size: 20px;
        padding: 20px 0px;
    }

    .hero-button {
        margin-top: 20px;
        width: 150px;
        text-transform: uppercase;
        font-size: 20px;
    }
}

.home_episodes_wrapper {
    height: auto;
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;

    .container {
        margin: 20px auto;
        width: 400px;
        text-align: center;

        h2 {
            font-weight: 700;
            margin: 20px 0px;
        }

        p {
            font-size: 18px;
        }
    }
}

.card-holder_wrapper {
    margin: auto;
    width: 70%;
    display: block;
    padding: 0px 20px;
}

.card_holder {
    margin: auto;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
}

.featured-episode-card {
    height: 300px;
    width: 300px;
    margin: 10px;
    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.1);
    background-size: contain;
}

.home_about__content {
    width: 100%;
    height: 600px;
    @include flex(flex-start, center);

    div {
        margin: 50px 50px 50px 0px;
    }

    .about__content {
        width: 500px;
        height: 500px;

        h2 {
            margin: 40px auto 0;
        }

        p {
            margin: 20px 0px;
            text-align: justify;
        }
    }

    .author {
        width: 400px;
        border-radius: 10px;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

}

.blue-section {
    background-color: $black;
    padding: 20px 0px;
}


@media screen and (min-width:768px) and (max-width:1200px) {

}

@media screen and (min-width:1077px) and (max-width:1200px) {

}

@media screen and (min-width:320px) and (max-width:767px) {

}


@media screen and (min-width:320px) and (max-width:425px) {

    .hero_container{
        height: 450px;
        display: block;
        background-repeat: no-repeat;
        background-position: 70%;

        .hero_text{
            width: 100%;

            h2{
                text-align: center;
                font-size: 40px;
                padding: 20px 0px;
            }

            p{
                text-align: center;
                padding: 20px;
                background-color: rgba($color: #000000, $alpha: 0.7);
            }

            .hero-button{
                display: block;
                margin: auto;

                a{
                    font-size: 17px;
                }

                button{
                    width: auto;
                }
            }
        }
    }

    .hero-img{
        display: none;
    }

    .home_episodes_wrapper{
        .container{
            width: 100%;
        }
    }

    .home_about__content{
        display: block;
        padding: 20px;
        height: auto;

        .about__content{
            width: 100%;
            height: auto;
            margin: 10px 0px;
        }

        .about-button{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0px;
        }

        .author{
            width: 100%;
            margin: 0px;
        }
    }
}


@media screen and (min-width:376px) and (max-width:414px) {

}


@media screen and (min-width:415px) and (max-width:425px) {

}

@media screen and (min-width:426px) and (max-width:550px) {

}

@media screen and (min-width:426px) and (max-width:767px) {

}

@media screen and (min-width:551px) and (max-width:767px) {

}